NET "CLK"  LOC = "H1" | IOSTANDARD = LVCMOS33; 
#NET "GCK"  BUFG=CLK 	 | IOSTANDARD = LVCMOS33;
NET "DBG"  LOC = "M2" | IOSTANDARD = LVCMOS33 ; 
NET "POST"  LOC = "D13" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "RST"  LOC = "G1" | IOSTANDARD = LVCMOS18 ;
NET "SCL"  LOC = "H2" | IOSTANDARD = LVCMOS33 ; 
NET "SDA"  LOC = "J1" | IOSTANDARD = LVCMOS33 ;