NET "CLK"  LOC = "H1" | IOSTANDARD = LVCMOS33 | TNM_NET = clk_int; 

TIMESPEC TS_clk_int = PERIOD "clk_int" 150 MHz HIGH 50%;

NET "DBG"  LOC = "M2" | IOSTANDARD = LVCMOS33 ; 
NET "POST"  LOC = "D13" | IOSTANDARD = LVCMOS15 ;
NET "RST"  LOC = "G1" | IOSTANDARD = LVCMOS15 ;
NET "SCL"  LOC = "H2" | IOSTANDARD = LVCMOS33 ; 
NET "SDA"  LOC = "J1" | IOSTANDARD = LVCMOS33 ;