NET "CLK"  LOC = "H1" | IOSTANDARD = LVCMOS33 | TNM_NET = clk_int; 

TIMESPEC TS_clk_int = PERIOD "clk_int" 150 MHz HIGH 50%;

NET "DBG"  LOC = "M2" | IOSTANDARD = LVCMOS33 ; 
NET "POST"  LOC = "D13" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "RST"  LOC = "G1" | IOSTANDARD = LVCMOS18 | SLEW=SLOW;
NET "SCL"  LOC = "H2" | IOSTANDARD = LVCMOS33 ; 
NET "SDA"  LOC = "J1" | IOSTANDARD = LVCMOS33 ;
NET "BUT"  LOC = "B7" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER; #DIP1 or R10
NET "CES<0>"  LOC = "C8" | IOSTANDARD = LVCMOS18 ; #DIP2 or R9
NET "CES<1>"  LOC = "B8" | IOSTANDARD = LVCMOS18 ; #DIP3 or R8
NET "CED<0>"  LOC = "A8" | IOSTANDARD = LVCMOS18 ; #DIP4 or R7
NET "CED<1>"  LOC = "A10" | IOSTANDARD = LVCMOS18 ; #DIP5 or R6
NET "CED<2>"  LOC = "A11" | IOSTANDARD = LVCMOS18 ; #DIP6 or R5
NET "CED<3>"  LOC = "B11" | IOSTANDARD = LVCMOS18 ; #DIP7 or R4
NET "SMC"  LOC = "C11" | IOSTANDARD = LVCMOS18 ; #DIP8 or R3